<div th:insert="header.html"/>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>wyniki dla <span th:text="${selectedSpec.name}"/> (<span th:text="${selectedService.name}"/>):</p>
<br>
<table>
  <tr>
    <td>first name</td>
    <td>surname</td>
    <td>available term</td>
  </tr>
  <div th:each="uss : ${filteredUserSpecServ}">
    <div th:each="slotsList : ${availableUsersSlotsMap.get(uss.getUser().getId())}">
      <tr th:each="slot : ${slotsList}">
        <td th:text="${uss.getUser().getFirstName()}"></td>
        <td th:text="${uss.getUser().getLastName()}"></td>
        <td th:text="${#temporals.format(slot, 'dd-MM-yyyy HH:mm')}"></td>
        <td>
          <form action="/admin/appointment/add" method="post">
            <input type="hidden" th:name="physician" th:value="${uss.getUser().getId()}">
            <input type="hidden" th:name="startTime" th:value="${slot.toLocalDateTime()}">
            <input type="hidden" th:name="endTime" th:value="${slot.toLocalDateTime().plusMinutes(30)}">
            <input type="hidden" th:name="patient" th:value="${appointment.patient.id}">
            <input type="hidden" th:name="selectedSpec" th:value="${selectedSpec.id}">
            <input type="hidden" th:name="selectedService" th:value="${selectedService.id}">
            <input type="hidden" th:name="id" th:value="${appointment.id}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button>book</button>
          </form>
        </td>
      </tr>
    </div>
  </div>
</table>
</body>
</html>