<div th:insert="header.html"/>
<html xmlns:th="http://www.thymeleaf.org">
<body>
Please provide your shift start and end date and time: <br>
Warning! You can only set shift for one day. <br>
For repetitive schedule use second form.
<!-- tu bym dał sprawdzenie czy ten sam dzien jest dodawany, jezeli nie to wywali blad
 i to bedzie sluzyc tylko do dodawania "niestandardowych" godzin -->
<form action="/doc/timetable/add" method="post">
    <input type="datetime-local" th:name="startTime" placeholder="startTime"> <br>
    <input type="datetime-local" th:name="endTime" placeholder="startTime"> <br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button>add shift to your timetable</button>
</form>

<!-- tu drugi formularz z liczba godzin  i zakresem DAT -> ale samych dat -> w kontrolerze przerobie to tak
zeby wstawilo sie np codziennie od 15.08 do 18.08 8 godzin od 9 do 17 -->
</body>
</html>