<div th:insert="header.html"/>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container py-5 h-10">
    <div class="row justify-content-center">
        <div class="col-auto">
            Please provide your shift details: <br>
            Warning! You can only set shift for one day. <br>

            <form action="/doc/timetable/add" method="post">
                Date: <input type="date" th:name="date" placeholder="date"> <br>
                Available from: <input type="time" th:name="startTime" placeholder="startTime"> <br>
                Available to: <input type="time" th:name="endTime" placeholder="endTime"> <br>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn-success">add shift to your timetable</button>
            </form>
            <div th:if="${error}" class="text-danger"> <span th:text="${errorMessage}"></span></div>
        </div>
    </div>
</div>
</body>
</html>