<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MED-FACILITY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container py-5 h-10">
    <div class="row justify-content-center">
        <div class="col-auto">
            Congratulations! Your account is now verified and you can log in! <br>
            Click <a href="http://localhost:8080">HERE</a> to log in!
        </div>
    </div>
</div>
</body>
</html>