<div th:insert="header.html"/>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table>
    <tr th:each="appointment : ${doneAppointmentsList}">
        <td>dr.
            <span th:text="${appointment.physician.lastName}"></span>
        </td>
        <td th:text="${appointment.selectedSpec.name}"></td>
        <td th:text="${#temporals.format(appointment.startTime,'dd-MM-yyyy HH:mm')}"></td>
        <td> service:
            <span th:text="${appointment.selectedService.name}"></span>
        </td>
    </tr>
</table>
</body>
</html>