<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedFacility</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <br>
                <h1>MedFacility</h1>
                <p class="text-primary">Because you deserve best care!</p>
                <br>
                <br>
                <p class="lead">Welcome to our med facility! Please <a href="http://localhost:8080/login">log in</a> to
                    continue.</p></p>
                <p class="lead">You don't have an account? Click to <a href="http://localhost:8080/sign_in"> here </a>
                    to register! </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2"><img
                    src="https://cdn.pixabay.com/photo/2020/08/03/09/43/medical-5459654_960_720.png" alt="landing image"
                    class="img-fluid"></div>
        </div>
    </div>
</section>
<div class="py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-center text-md-left">
                <p class="mb-md-0">(C) 2022 MSzyb. All rights reserved. </p>
            </div>
            <div class="col-md-5 text-center text-md-right">
                <p class="mb-0">MedFacility Landing Page</a> </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

