<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MED-FACILITY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container py-5 h-10">
    <div class="row justify-content-center">
        <div class="col-auto">
Ooops! You don't have permission to access this service. <br>
Go back to the <a href="http://localhost:8080/">homepage</a> and try again. <br>
        </div>
    </div>
</div>
</body>
</html>